<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head th:replace="~{fragments/head :: head(title='entree de produit')}"></head>

<body class="layout-boxed">

<div class="page">
    <header th:replace="~{fragments/navbar}"></header>
    <header th:replace="~{fragments/menu}"></header>

    <div class="page-wrapper">
        <!-- Page header -->
        <div th:replace="~{fragments/page_header :: pageHeader(pageTitle='Entree de produit')}"></div>

        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <!-- Content here -->
                <div class="row">
                    <form class="card"  th:action="@{/entree}" method="post">
                        <div class="card-body">
                            <div class="col-sm-6 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Date</label>
                                    <input type="datetime-local" class="form-control" name="date"
                                           required />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Produit</label>
                                    <select class="form-select" name="produit">
                                        <option th:each="produit: ${produits}" th:text="${produit.getDesignation()}" th:value="${produit.getId()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Unite</label>
                                    <select class="form-select" name="unite">
                                        <option th:each="unite: ${unites}" th:text="${unite.getDesignation()}" th:value="${unite.getId()}">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Magasin</label>
                                    <select class="form-select" name="magasin">
                                        <option th:each="magasin: ${magasins}" th:text="${magasin.getNom()}" th:value="${magasin.getId()}">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Quantite</label>
                                    <input type="text" class="form-control" name="quantite"
                                           required />
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Prix unitaire</label>
                                    <input type="text" class="form-control" name="prix"
                                           required />
                                </div>
                            </div>

                            <div class="card-footer d-flex justify-content-end">
                                <button type="submit" class="btn btn-success">
                                    Enregistrer
                                </button>
                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Page footer -->
        <footer th:replace="~{fragments/footer}"></footer>
    </div>
</div>

<script th:replace="~{fragments/script}"></script>
</body>

</html>